@import 'reset';

:root {
  --title: {
    font-size: 2.2rem;
    font-weight: 300;
  }
}

html {
  font-size: 62.5%;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}

body {
  font-size: 1.2rem;
}

.content,
.header__content,
.footer {
  width: 96rem;
  margin: 0 auto;
}

/* **************************************************************************** HEADER */

.header {
  background-color: #333;
  height: 8rem;
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.header__left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 2.3rem;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-left: 2rem;
}

/* **************************************************************************** BUTTON */

.button {
  appearance: none;
  color: black;
  border: .1rem solid #d9d9d9;
  background-color: #fafafa;
  padding: 0 1.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: .4rem;
  transition: background-color, border, border-color .1s;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 3.8rem;
}

.button:enabled:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.button_dark {
  background-color: #d9d9d9;
  border-color: #a6a6a6;
}

.button_transparent,
.button_transparent:enabled:hover {
  background-color: transparent;
  border-color: transparent;
  transition: opacity .2s;
  padding: 0 .5rem;
}

.button_transparent:enabled:hover {
  transform: scale(1.2);
}

.button_red {
  border-color: #fe1f1f;
}

/* **************************************************************************** ACTION BAR */

.action-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.action-bar_right {
  justify-content: flex-end;
}

/* **************************************************************************** CONTENT */

.content {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* **************************************************************************** QUIZ MAIN */

.quiz-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.quiz-link {
  width: calc(50% - 2rem);
  padding: 4rem;
  border-radius: .4rem;
  border: .2rem solid #d9d9d9;
  background-color: #fafafa;
  text-decoration: none;
}

.quiz-link:hover {
  background-color: #f2f2f2;
}

.quiz-link:nth-child(2n+1) {
  margin-right: 4rem;
}

.quiz-link__name {
  font-size: 2rem;
  font-weight: 500;
  color: black;
}

.quiz-link__date {
  margin: 1rem 0 0;
  color: #999;
  font-size: 1.4rem;
  font-weight: 500;
}

/* **************************************************************************** QUIZ DETAIL */

.quiz {
  margin: 5rem 0;
}

.quiz__info {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 4rem;
  border-radius: .4rem;
  border: .1rem solid #d9d9d9;
  background-color: #fafafa;
}

.top-bar {
  position: relative;
}

.top-bar .action-bar {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  justify-content: space-around;
}

.quiz .action-bar .button,
.header .action-bar .button {
  margin-left: 1rem;
}

.live-reloading {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 2rem;
}

.live-reloading__icon {
  margin-right: .4rem;
}

.quiz__title {
  font-size: 2rem;
  font-weight: 500;
}

.quiz__date {
  margin: 1rem 0 0;
  color: #999;
  font-size: 1.4rem;
  font-weight: 500;
}

/* **************************************************************************** QUESTION */

.question {
  margin: 6rem 0;
  overflow: hidden;
  border-top: .2rem solid #d9d9d9;
  padding-top: 6rem;
}

.question_responder {
  border-radius: .4rem;
}

.question:first-child {
  border-top: none;
}

.question__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  min-height: 4rem;
  margin-bottom: 2rem;
}

.question__name {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  font-family: Inconsolata, monospace;
}

.question_observer .action-bar {
  margin-right: .5rem;
  transition: opacity .2s;
  opacity: 0;
}

.question_observer:hover .action-bar {
  opacity: 1;
}

.question_observer:hover .stat__data {
  right: 6.2rem;
}

/* **************************************************************************** ANSWER LIST */

.answer-list {
  display: flex;
  justify-content: flex-start;
}

.answer-list_responder {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 .2rem;
}

.answer-list_observer {
  flex-direction: column;
}

.answer { /* of class .button */
  width: calc(50% - 1rem);
  margin-bottom: 2rem;
  min-height: 5.4rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.answer .button__detail {
  margin-right: 2rem;
}

.answer .button__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Inconsolata, monospace;
  font-size: 1.4rem;
}

.answer:nth-child(2n+1) {
  margin-right: 2rem;
}

/* **************************************************************************** STAT */

.stat {
  position: relative;
  margin-bottom: 1rem;
}

.stat .action-bar {
  position: absolute;
  top: .6rem;
  right: 0;
}

.stat__answer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1.2rem;
  font-weight: 500;
  font-size: 1.4rem;
  align-items: center;
}

.stat__visual {
  position: relative;
  min-height: 5rem;
  height: auto;
  background-color: #fafafa;
  border: .1rem solid #d9d9d9;
  border-radius: .4rem;
  overflow: hidden;
}

.stat__content,
.stat__correct,
.stat__votes {
  font-family: Inconsolata, monospace;
}

.stat__data {
  position: absolute;
  top: 1.4rem;
  right: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  transition: right .2s;
}

.stat__correct,
.stat__votes {
  background-color: #f2f2f2;
  padding: .5rem 1.2rem;
  border-radius: 2rem;
  font-size: 1.4rem;
}

.stat__bar {
  position: absolute;
  top: 0;
  left: 0;
  height: .4rem;
  background-color: lightgreen;
  transition: width .4s;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.stat__content {
  line-height: 2rem;
}

.stat__votes {
  margin-left: 1rem;
}

.stat__answer .button__detail {
  margin-right: 2rem;
}

/* **************************************************************************** MODAL */

.modal {
  position: fixed;
  z-index: 9999;
  background-color: rgba(0, 0, 0, .8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal__alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fafafa;
  border-radius: .4rem;
  width: 50rem;
  min-height: 30rem;
  max-height: 90vh;
  padding: 3rem;
}

.modal__title,
.modal__text,
.modal__editor {
  margin-bottom: 2rem;
}

.modal__title {
  font-size: 2rem;
  font-weight: 500;
}

.modal__text {
  font-size: 1.8rem;
  font-weight: 300;
}

.modal__editor {
  min-height: 12rem;
  background-color: white;
  border: .1rem solid #d9d9d9;
  border-radius: .4rem;
  padding: 2rem;
  font-size: 1.4rem;
  font-family: Inconsolata, monospace;
  line-height: 2rem;
}

.modal__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modal__buttons .button {
  margin-left: 1rem;
}

/* **************************************************************************** FOOTER */

.footer {
  margin-top: 8rem;
  margin-bottom: 4rem;
  font-weight: 500;
  font-size: 1.4rem;
  color: #ccc;
  text-transform: uppercase;
}
